<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="box-form">
    <div>
      <h2 class="page-title">Schedule</h2>
    </div>
    <table class="table-responsive table">
      <thead>
        <tr>
          <th scope="col">First name</th>
          <th scope="col">Day</th>
          <th scope="col">Start at</th>
          <th scope="col">End at</th>
          <th scope="col">Work time</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% schedule.forEach(function(event) { %>
        <tr>
          <td><a href="http://localhost:3000/users/<%- event.user_id %>"><b><%- event.first_name %></b></a></td>
          <td><%- event.day %></td>
          <td><%- event.start_at %></td>
          <td><%- event.end_at %></td>
          <td><%- event.hour %>h <%- event.minute %>min</td>
          <td>
            <form action="/delete/schedule/<%= event.id %>" method="post">
              <input type="submit" class="btn" id="btn-delete" value="Delete"></input></a>
        </form>
        <!-- <form action="/edit/schedule/<%= event.user_id %>" method="post">
          <input type="submit" class="btn btn-danger btn-sm" value="Edit"></input></a>
    </form> -->
        </tr>
        <% }); %>
      </tbody>
    </table>
    <div class="submit-btns">
      <a href="http://localhost:3000/new/user"><button type="button" class="btn btn-submit">Add user</button></a>
      <a href="http://localhost:3000/new/schedule"><button type="button" class="btn btn-submit">Add date</button></a>
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>